a {
  text-decoration: none !important;
  color: #e2a006;
}

#blog-list {

  padding-top: 5rem;
  padding-bottom: 5rem;

}

#posts {
  padding-top: 1rem;
}

.media {
  border: #93cb52 solid 1px;
  padding: 0.5rem 2rem;

}

.media h3 a {
  text-decoration: none;

  color: #93cb52;
}


.btn  {
  color: #93cb52;
  border: #93cb52 solid 1px;
  border-radius: 5px;
}
